<h1><%= @user.name %></h1>

<h3>Contact</h3>
<p><%= @user.email %> | <%= @user.type %> | <%= link_to "All #{@user.type.pluralize}", sti_user_path(@user.type) %></p>

<h3>Bio</h3>
<p><%= @user.bio %></p>

<h3>Social Links</h3>
<% if @social_links && @social_links.count > 0 %>
	<% @social_links.each do |social_link| %>
		<%= link_to social_link.name, social_link.url, target: "_blank" %>&nbsp;
	<% end %>
<% end %>

<br><br>
<%= link_to 'Back',  sti_user_path(@user.type) %>